# Ignore all
/*
/*/
!/.gitignore
zsh/plugins
Session.vim

config/*

# Except
!install.sh
!macos/
!Brewfile
!Rakefile
!bat
!bin/
!config/kitty/
!config/nvim/**
!gitignore
!tmux.conf
!zsh/
!zshrc
!gitconfig

config/nvim/lazy-lock.json
